.uploader-detail {
    display: inline-block;
    vertical-align: top;
    padding: 30px;
}

.preview {
    display: inline-block;
    background-size: contain;

    img {
        width: 100%;
    }
}

.preview-vertical {
    background-image: url(/src/images/uploader-default-vertical.jpg);
    width: 160px;
    height: 200px;
}

.preview-horizontal {
    background-image: url(/src/images/uploader-default-horizontal.jpg);
    width: 250px;
    height: 200px;
}

.wizard {
    padding: 10px 15px;

    img {
        width: 100%;
    }
}

