.uploader-detail {
    display: inline-block;
    vertical-align: top;
    padding: 30px;
}

.preview {
    display: inline-block;

    img {
        width: 100%;
    }
}

.preview-vertical {
    background-image: url(/src/images/uploader-default-vertical.jpg);
    width: 160px;
    height: 200px;
}

.preview-horizontal {
    background-image: url(/src/images/uploader-default-horizontal.jpg);
    width: 250px;
    height: 200px;
}

.ui-wizard {
    height: 1.5em;
    padding: 1em;
    font-size: 18px;
}

.ui-rating {
    font-size: 18px;
}

