.uploader-detail {
    display: inline-block;
    vertical-align: top;
    padding: 30px;
}

.preview {
    display: inline-block;
    width: 164px;
    height: 208px;
    background: url(/src/images/uploader-default.png);

    img {
        width: 100%;
    }
}

.wizard {
    padding: 10px 15px;

    img {
        width: 100%;
    }
}

