@import "base.less";
@import "../ui/css/main.less";

// login

body {
    background: #ecf0f1;
}

.header {
    width: 100%;
    height: 90px;
    background: #f8b72f;
    padding-top: 1px;

    .logo {
        width: 146px;
        margin: 26px auto
    }
}


.login-wrapper {
    margin-top: 150px;
    min-height: 350px;
    position: relative;

    .login-container {
        margin: 0 auto;
        margin-bottom: 100px;
        display: block;
        clear: both;

        h2, > p, .error {
            color: #f8b72f;
            font-size: 24px;
            text-align: center;
        }

        li {
            width: 500px;
            margin: 20px auto;

            label {
                width: 80px;
                display: inline-block;
                text-align: right;
                margin-right: 10px;
            }
        }

        .ui-button-submit {
            background: #f5a925;
            color: #FFF;
            font-size: 24px;
            width: 190px;
            height: 50px;
            min-height: 50px;
            line-height: 50px;
        }
    }
}

.error {
    color: red;
}
