@import "base.less";
@import "../ui/css/main.less";
@import "login.less";
@import "list.less";
@import "form.less";

.loading {
    text-align: center;
    font-size: 30px;
    margin-top: 100px;
}

.topbar {
    width: 100%;
    height: 80px;
    background: #fd5056;
    position: relative;
    top: 0;
    left: 0;
}

.head {
  width: 100%;
  margin: 0 auto;
  min-width: 960px;
  height: 60px;
  padding: 10px 0;
  background: #fd5056;
}

.logo {
    width: 123px;
    height: 31px;
    padding: 0 11px;
    float: left;
}

.user {
    width: auto;
    float: right;
    color: #FFF;

    li {
        padding: 0px 35px;
        margin-top: 20px;
        color: #FFF;
        /*border-left: 1px solid #CB2C37;*/
        float: left;
    }

    a {
        color: white;
    }
}

.main {
    min-height: 600px;
}

.title-wrapper {
    margin: 0 auto;
    clear: both;
    min-width: 960px;

    .title {
        width: 950px;
        background: #fff;
        margin: 0 auto;
        padding-top: 25px;
    }

    .ui-tab {
        border-bottom: 1px solid #70ccc0;
    }
}

.container {
    width: 950px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px 0;
    // .border-radius(10px);
    border: 1px solid #e1e3e6;
}

#editor {
    line-height: 1.4em;
}

.footer {
    width: 100%;
    min-width: 960px;
    height: 60px;
    background: #fd5056;
    bottom: 0;
    text-align: center;
    padding: 30px 0;
    color: #FFF;
    font-size: 12px;
    line-height: 30px;
    position: relative;
    bottom: 0;
    z-index: 200;
}

