@import "base.less";
@import "../ui/css/main.less";
@import "list.less";
@import "form.less";

// biz
@import "../experience/css/list.less";
@import "../experience/css/form.less";
@import "../experience/css/couple.less";

@import "../fresh/css/form.less";

.loading {
    text-align: center;
    font-size: 30px;
    margin-top: 100px;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    background: #34495e;

    .user {
        width: 200px;
        height: 90px;
        color: #FFF;
        background: #f5a925;
        display: table-cell;
        vertical-align: middle;
        text-align: center;

        a {
            color: #FFF;
        }
    }

    .nav {
        width: 100%;

        .ui-tab-vertical {
            border-right: none;
            width: 100%;
        }

        .ui-tab-item {
            background: none;
            border-radius: 0;
            border: none;
            color: #95a5a6;
            margin-bottom: 0;
            margin-right: 0;
        }

        .ui-tab-item-active {
            color: #FFF;
            background: #243342;
        }
    }
}

.content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 200px;
    right: 0;

    .header {
        height: 90px;
        margin: 0 auto;
        text-align: center;
        border-bottom: 1px solid #e1e2e4;

        .logo {
            display: inline-block;
            margin-top: 23px;
        }

        img {
            width: 100%;
        }
    }

    .crumb {
        height: 70px;
        background: #fbfcfe;

        .title {
            color: #2ecc71;
            font-weight: bold;
            font-size: 16px;
            display: inline-block;
            margin-top: 24px;
            margin-left: 30px;
        }

        .ui-button-create {
            float: right;
            margin-top: 16px;
            color: #2ecc71;
            margin-right: 18px;
        }
    }
}

.main {
    background: #ecf0f1;
}

.container {
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px 15px;
    border: 1px solid #e1e3e6;
    min-height: 400px;

    .ui-table {
        .border-radius(6px);
    }
}

#editor {
    line-height: 1.4em;
}
